.u-section-1 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 1140px;
  margin: 230px auto 44px;
}

.u-section-1 .u-layout-cell-1 {
  pointer-events: auto;
  min-height: 494px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 31px 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.6875rem;
  font-weight: normal;
  line-height: 1.4;
  margin: -30px 0 0;
}

.u-section-1 .u-form-1 {
  height: 52px;
  margin: 44px 31px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-text-2 {
  background-image: none;
  font-weight: 700;
  margin: 6px 31px 0 0;
}

.u-section-1 .u-image-1 {
  pointer-events: auto;
  background-image: url("images/patt3.jpg");
  background-position: 50% 50%;
  min-height: 494px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 407px;
  }

  .u-section-1 .u-form-1 {
    width: 439px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 16px;
  }

  .u-section-1 .u-image-1 {
    min-height: 407px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 708px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 201px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-right: 30px;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 1px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 33px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 390px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1224px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 249px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 348px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-form-1 {
    height: 117px;
    margin-top: 2px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-image-1 {
    min-height: 491px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1030px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 227px;
    margin-bottom: 40px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 425px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 23px;
  }

  .u-section-1 .u-text-1 {
    animation-duration: 1000ms;
    font-size: 1.5rem;
    margin-top: -23px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 7px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 338px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 878px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 139px 0 0;
}

.u-section-2 .u-layout-cell-1 {
  pointer-events: auto;
  background-image: none;
  min-height: 563px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-image-1 {
  width: 382px;
  height: 447px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  pointer-events: auto;
  min-height: 439px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: -30px 1px 0 29px;
}

.u-section-2 .u-text-2 {
  font-size: 1.6875rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 13px 1px 0 29px;
}

.u-section-2 .u-text-3 {
  background-image: none;
  font-weight: 700;
  width: 532px;
  margin: 128px auto 22px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 663px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 484px;
  }

  .u-section-2 .u-image-1 {
    height: 408px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 444px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 7px;
    margin-right: 0;
    margin-left: 19px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 99px;
    margin-bottom: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 546px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 24px;
  }

  .u-section-2 .u-image-1 {
    height: 350px;
    width: 291px;
    margin-top: 76px;
    margin-right: auto;
    margin-left: 3px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 523px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 10px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 10px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-3 {
    width: 539px;
    margin-top: 128px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 942px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 426px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 340px;
    width: 290px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -19px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 3px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin: 94px 0 28px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1085px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 268px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 28px;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: -30px;
  }

  .u-section-2 .u-text-3 {
    margin: 113px 10px 20px;
  }
}.u-section-3 {
  background-image: none;
  min-height: 468px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 35px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 434px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 1px 30px 21px;
}

.u-section-3 .u-text-1 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 0 0 0 5px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 34px 0 0;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 34px auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 434px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 1px 30px 21px;
}

.u-section-3 .u-text-4 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 20px 5px 0 -5px;
}

.u-section-3 .u-text-6 {
  font-weight: normal;
  font-size: 1.125rem;
  margin: 34px 5px 0 -5px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 40px auto 0 -5px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 434px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 1px 30px 21px;
}

.u-section-3 .u-text-7 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 30px 0 0;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 16px auto 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 434px;
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 1px 30px 30px;
}

.u-section-3 .u-text-10 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 416px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 337px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 337px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 408px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 408px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-text-12 {
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-3 .u-icon-2 {
    margin-left: auto;
  }

  .u-section-3 .u-icon-3 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 472px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 71px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 471px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 27px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 78px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 474px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 391px;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }
}